// scss/utils/_mixins.scss
@mixin container {
  width: 100%;
  margin-inline: auto;
  max-width: $container;
  padding-inline: $space-4;
}

@mixin focus-ring {
  outline: 3px solid rgba($primary, .6);
  outline-offset: 2px;
}

@mixin mq($break) {
  @if $break == sm {
    @media (max-width: 640px) { @content; }
  }
  @else if $break == md {
    @media (max-width: 900px) { @content; }
  }
  @else if $break == lg {
    @media (min-width: 901px) { @content; }
  }
}
