// scss/base/_reset.scss
*,*::before,*::after{box-sizing:border-box}
*{margin:0}
html:focus-within{scroll-behavior:smooth}
body{min-height:100vh;line-height:1.5}
img, picture, video, canvas, svg{display:block;max-width:100%}
input, button, textarea, select{font:inherit}
:root{color-scheme: light dark}
